@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-image: url("../assets/mini2.jpg");
    background-size: cover;
}



.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background-color: #585151;
}


.log-container{
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 23%;
}

.log-container .cover h1{
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 2em;
    box-shadow: 0 0.188em 1.55em rgb(52 44 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.cover {
    background-color: #3a5c5d;
    padding: 19px;
    width: 35%;
    border-radius: 47px;
    margin-left: 1%;
}


.login-btn {
    width: 20%;
    height: 3em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.text-muted {
    position: relative;
    bottom: 0.5%;
}
