@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}



.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background-color: #585151;
}


.cover {
    background-color: white;
    width: 40%;
    height: 105%;
    position: relative;
    border-radius: 3em;
    box-shadow: 0 0.188em 1.55em rgb(16, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-btn {
    width: 20%;
    height: 3em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.text-muted {
    position: relative;
    bottom: 0.5%;
}
